<div class="container">
<h2>Cadastro Revendedora</h2>

<div class="card rounded shadow-sm">
<form action="">
  <div class="p-3"></div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Cnpj</label>
      <input type="text" class="form-control" placeholder="CNPJ" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Razão Social</label>
      <input type="text" class="form-control" placeholder="Razão Social" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Nome Fantasia</label>
      <input type="text" class="form-control" placeholder="Nome Fantasia" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>E-mail</label>
      <input type="text" class="form-control" placeholder="E-mail" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Telefone</label>
      <input type="text" class="form-control" placeholder="Telefone" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Contato</label>
      <input type="text" class="form-control" placeholder="Contato" >
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
      <label>Endereço</label>
      <input type="text" class="form-control" placeholder="Endereço" >
    </div>
  </div>
</form>  

</div>



</div>